<ul class="nav navbar-nav navbar-right text-right">

    <li>
        @if (Session["CartCounter"] == null)
        {
            @Html.ActionLink("+", "ShoppingCart", "Shopping", new { id = "cartItem" })
        }
        else
        {
            @Html.ActionLink("+(" + Session["CartCounter"] + ")", "ShoppingCart", "Shopping", new { id = "cartItem" })
        }
    </li>
</ul>
